body {
    margin: 0;
    padding: 0;
}

.banner {
    display: block;
    position: relative;
    width: 970px;
    height: 90px;
    background: url(../img/Bitmap.png) no-repeat;
    background-size: cover;
}

.banner:hover {
    cursor: pointer;
}

.b768 {
    font: 18px/26px "Arial", sans-serif;
    width: 68px;
    max-width: 68px;
    padding: 0;
    overflow: hidden;
    color: #252525;
    position: relative;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a.b768_wrap {
    color: #000;
    text-decoration: none;
}

.b768_logo {
    display: block;
    width: 68px;
    height: 68px;
}
.vicoin_logo{
    width: 68px;
    height: 68px;
    position: relative;
    margin: 0 auto;
    display: block;
}
.vicoin_logo .border,.vicoin_logo .glare,.vicoin_logo .glare2,.vicoin_logo .glare3,.vicoin_logo .glare4{position:absolute;top:0;bottom:0;left:0;right:0;background-size:100%;background-repeat:no-repeat}
.vicoin_logo .border{background-image:url(https://vi-desktop.infcdn.net/img/loader/loader_bg.png)}
.vicoin_logo .glare, .vicoin_logo .glare2, .vicoin_logo .glare3 { transform-origin: 49.6666667% 48.6666667%;}
.vicoin_logo .glare{
    background-image:url(https://vi-desktop.infcdn.net/img/loader/loader_r3.png);
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
.vicoin_logo .glare2{
    background-image:url(https://vi-desktop.infcdn.net/img/loader/loader_r2.png);
    -webkit-animation: spinr 4s linear infinite;
    animation: spinr 4s linear infinite;
}
.vicoin_logo .glare3{
    background-image:url(https://vi-desktop.infcdn.net/img/loader/loader_r1.png);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.vicoin_logo .glare4{
    background-image:url(https://vi-desktop.infcdn.net/img/loader/loader_glare.png);
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-ms-keyframes spin {
    0%   {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}
@-o-keyframes spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinr {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100%   {
        -webkit-transform: rotate(0deg);
    }
}
@-moz-keyframes spinr {
    0% {
        transform: rotate(360deg);
    }
    100%   {
        transform: rotate(0deg);
    }
}
@-ms-keyframes spinr {
    0% {
        -ms-transform: rotate(360deg);
    }
    100%   {
        -ms-transform: rotate(0deg);
    }
}
@-o-keyframes spinr {
    0% {
        transform: rotate(360deg);
    }
    100%   {
        transform: rotate(0deg);
    }
}
@keyframes spinr {
    0% {
        transform: rotate(360deg);
    }
    100%   {
        transform: rotate(0deg);
    }
}

.bit_logo {
    position: absolute;
    top: 11px;
    left: 11px;
    z-index: 3;
}

#demo-canvas {
    position: absolute;
    left: 0;
    z-index: 2;
}

.text_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 970px;
    height: 90px;
    z-index: 1;
    background: url("../img/text_image.png") no-repeat;
}

.install_btn {
    display: block;
    position: absolute;
    z-index: 2;
    top: 18px;
    right: 18px;
    width: 157px;
    height: 54px;
    background-color: #ffc31d;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #000;
}

.install_btn .text {
    margin: 18px auto;
    display: block;
}

.install_btn:hover {
    opacity: .95;
}